:root {
  --accent-color: #ff6c00;
  --primary-text-color: #555555;
  --second-text-color: #303030;
  --third-text-color: #9da4bd;
  --primary-background-color: #ffffff;
  --extra-background-color: #f7f7f7;
  --primary-title-color: #ffffff;
  --extra-title-color: #303030;
  --rgba-title-color: rgb(157, 164, 189);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
