.form__text {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.form__field {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.form__field--light {
  color: rgba($color: var(--rgba-title-color), $alpha: 0.4);
  margin-right: 30px;
  min-width: 250px;

  &:focus-within {
    color: var(--primary-title-color);
  }
}

.form__field--dark {
  color: var(--extra-title-color);

  &:focus-within {
    color: var(--accent-color);
  }
}

.form__field--text {
  position: absolute;
  top: 0;
  left: 0;
}

.form_symbol {
  color: var(--accent-color);
}

.form__input {
  width: 100%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 80px;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;

  &:focus {
    outline: none;
  }
}

.form__input-light,
.form__message-light {
  border-bottom: 1px solid rgba($color: var(--rgba-title-color), $alpha: 0.4);
  color: var(--primary-title-color);

  &:focus-within {
    border-bottom: 1px solid var(--primary-title-color);
  }
}

.form__input-dark,
.form__message-dark {
  border-bottom: 1px solid var(--extra-title-color);
  color: var(--extra-title-color);

  &:focus-within {
    border-bottom: 1px solid var(--accent-color);
  }
}

.form__message {
  width: 100%;
  height: 76px;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  padding-top: 20px;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;

  &:focus {
    outline: none;
  }
}

.form__btn {
  align-self: flex-start;
}

.input__wrapper {
  display: flex;
}
