

.header{
    padding-top: 32px;
    padding-bottom: 32px;
   
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

    // max-width: 1280px;
    // margin: 0 auto;
}
.header__container{
    display: flex;
    align-items: center;
}

.header__nav{
    display: flex;
    align-items: center;
}
.nav__logo{
    margin-right: 70px;
}
.nav__list{
    display: flex;
}
.nav__item {
    margin-right: 40px;
}

.nav__link {

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: $header-color;
    transition: color 300ms $timing-function;
}

.nav__link:hover, .nav__link:focus{
    color: $accent-color;
}

.header__connect{
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 4px;
}

.header__tel{
    
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: $header-color;
    transition: color 300ms $timing-function;
}
.header__tel:hover, .header__tel:focus{
    color: $accent-color;
}
.header__btn{
    margin-left: 40px;
}