.masters{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: $extra-background-color;
    max-width: 1280px;
    margin: 0 auto;
}

.masters__pre-title{
    margin-bottom: 20px;
}

.masters__title{
    margin-bottom: 44px;
}


.masters__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.masters__card{
    // flex-basis: calc((100%-(3*30))/3);
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    
}

.masters__card:hover .masters__description{
    transform: translateY(0);
}

.masters__wrap{
    position: relative;
    overflow: hidden;
}

.masters__description{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $accent-color, $alpha: 0.75);
    color: #fff;
    line-height: 1.5;
    padding: 60px 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
}
.masters__thumb{
    margin-top: 30px;
}

.masters__name{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: $secon-text-color;
    margin-bottom: 8px;
}
.masters__post{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: $accent-color;
    margin-bottom: 30px;
}

.networks{
    display: flex;
    justify-content: center;

}

.networks__item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.networks__item:last-child{
    margin-right: 0;
}

.networks__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.networks__icon{
    fill: $secon-text-color;
    transition: fill 300ms $timing-function;
}

.networks__link:hover .networks__icon,
.networks__link:focus .networks__icon {
    fill: $accent-color;
}