.reasons{
    padding-top: 130px;
    padding-bottom: 130px;
}

.reasons__container{
    display: flex;
    justify-content: space-between;
    
}
.reasons__list{
    width: 570px;
    
    width: 370px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.reasons__item{
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    padding: 20px 24px;
    

}
.reasons__item.reasons__item--spec {
    padding: 20px;

}

.reasons__item:nth-child(odd){
    margin-right: 30px;
}

.reasons__item:nth-child(even) {
    margin-top: 30px;
}



.reasons__count{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    color:  $extra-title-color;
    margin-bottom: 6px;
}

.reasons__count::after{
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #FF6C00;
}

.reasons__text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color:$extra-title-color;
}

.reasons__right {
    width: 50%;
    padding-left: 15px;
}

.reasons__pre-title{
    margin-bottom: 20px;
}
.reasons__title{
    margin-bottom: 20px;
}