.pre__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}

.pre__title--light {
  color: rgba(157, 164, 189, 0.6);

  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.pre__title--dark {
  color: var(--extra-title-color);

  &::before {
    background-color: var(--extra-title-color);
  }
}

.after__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.after__title--light {
  color: var(--third-text-color);
}

.after__title--dark {
  color: var(--primary-text-color);
}

.section__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section__title--light {
  color: var(--primary-title-color);
}

.section__title--dark {
  color: var(--extra-title-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 42px;
  }
}
