.footer {
  margin-top: 55px;
  margin-bottom: 55px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
  @media screen and(max-width:767px) {
    padding-top: 40px;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--second-text-color);
  }
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--extra-title-color);
}

.footer__item {
  margin-left: 40px;
}
