.reasons {
  padding-top: 130px;
  padding-bottom: 130px;
}

.reasons__container {
  display: flex;
  flex-direction: column-reverse;
}
.reasons__list {
  width: 418px;

  display: flex;
  flex-wrap: wrap;
}
.reasons__item {
  width: 193px;
  height: 133px;
  background-color: var(--extra-background-color);
  padding: 20px 24px;

  &.reasons__item--spec {
    padding: 20px;
  }

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }
}

.reasons__count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  color: var(--extra-title-color);
  margin-bottom: 6px;

  &::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent-color);
  }
}

.reasons__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--extra-title-color);
}
.reasons__right {
  width: 418px;
  padding-bottom: 44px;
}

.reasons__pre-title {
  margin-bottom: 20px;
}
.reasons__title {
  margin-bottom: 20px;
}
@media screen and(min-width:768px) {
  .reasons__list {
    width: 450px;
    margin-left: auto;
  }

  .reasons__item {
    width: 210px;
  }
  .reasons__right {
    width: 500px;
  }

  // .reasons__container {
  //   justify-content: space-between;
  // }
}
@media screen and(min-width:1200px) {
  .reasons__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .reasons__list {
    width: 370px;
    margin: 0 auto;
  }

  .reasons__item {
    width: 170px;
  }
  .reasons__right {
    width: 50%;
    padding-left: 15px;
    padding-bottom: 0;
  }
}
